<!DOCTYPE html>
<html>
  <head>
    <title>{{#if title }}{{ title }} | {{/if}}Nate Green, UX Designer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>