.button {
  position: relative;
  border: $button-border;
  border-radius: $button-border-radius;
  background-color: $button-background-color;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  line-height: $button-line-height;
  padding: $button-padding;
  vertical-align: baseline;
  transition:
    color $button-hover-transition,
    background-color $button-hover-transition,
    border $button-hover-transition;
  
  &::after {
    content:"";
    display: block;
    position: absolute;
    top: -1/2 * 1em;
    left: -1/2 * 1em;
    border-radius: $button-border-radius;
    width: calc(100% + 1em);
    height: calc(100% + 1em);
    border: $button-hover-border;
    opacity: 0;
    transition:
      top $button-hover-transition,
      left $button-hover-transition,
      width $button-hover-transition,
      height $button-hover-transition,
      opacity $button-hover-transition;
    pointer-events: none;
  }
}

a.button {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover, .button:focus {
  color: $button-hover-color;
  background-color: $button-hover-background-color;
  
  &::after {
    top: 1/2 * $button-hover-border-size * -1;
    left: 1/2 * $button-hover-border-size * -1;
    width: calc(100% + #{$button-hover-border-size});
    height: calc(100% + #{$button-hover-border-size});
    opacity: 1;
  }
}

.button:active {
  color: $button-active-color;
  background-color: $button-active-background-color;
}