.project-cta {
  background-color: $project-cta-background-color;
  text-align: center;
  padding: $project-cta-padding;
}

.project-cta__heading {
  color: $project-cta-heading-color;
  margin: $project-cta-heading-margin;
}