.project-feature {
  background-color: $project-feature-background-color;
  padding: $project-feature-padding 0;
  margin-top: $project-feature-margin;
  
  &::after {
    content: "";
    display: table;
    width: 0;
    height: 0;
    clear: both;
  }
}

.project-feature + .project-feature {
  margin-top: 0;
}

.project-feature__figure--right,
.project-feature__figure--left {
  width: 100%;
  
  @media screen and (min-width: 100ch) {
    width: calc(4/7 * 100%);
  }
  
  height: auto;
  min-width: 20ch;
  
  img {
    width: 100%;
    height: auto;
    box-shadow: $project-feature-box-shadow;
  }
}

.project-feature__figure--right {
  float: right;
  margin: $project-feature-image-margin;
}

.project-feature__figure--left {
  float: left;
  margin: $project-feature-image-margin;
}

.project-feature__content--left,
.project-feature__content--right {
  width: 100%;
  position: sticky;
  top: 4rem;
  
  @media screen and (min-width: 100ch) {
    width: calc(2/7 * 100%);
  }
}

.project-feature__content--left {
  @media screen and (min-width: 100ch) {
    margin-left: calc(1/7 * 100%);
  }
}

.project-feature__content--right {
  @media screen and (min-width: 100ch) {
    margin-right: calc(1/7 * 100%);
  }
}