.project {
  > h1, > h2, > h3, > h4, > h5, > h6,
  > p, > blockquote, > ul, > ol, > dl {
    padding-left: $site-horizontal-padding;
    padding-right: $site-horizontal-padding;
    
    @media screen and (min-width: 100ch) {
      padding-left: 0;
      padding-right: 0;
      margin-right: calc(1/7 * 100%);
      margin-left: calc(1/7 * 100%);
    }
  }
  
  > h1, > h2, > h3, > h4, > h5, > h6 {
    clear: both;
  }
  
  h1 {
    color: $project-h1-color;
  }
  
  h2 {
    color: $project-h2-color;
    margin-bottom: 1em;
  }
  
  h3 {
    text-transform: uppercase;
    letter-spacing: 1/3 * 1ch;
  }
  
}