.project-figure,
.project-figure--full-width {
  width: 100%;
  margin: 0;
  padding: 0;
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  figcaption {
    color: $project-figure-caption-color;
    font-size: $project-figure-caption-font-size;
    text-align: center;
    padding: 0;
    margin: $project-figure-caption-margin;
  }
}