{{>head}}
<header class="project-masthead">
    <h1 class="project-title">{{ title }}</h1>
    {{#if subtitle}}<h2 class="project-subtitle">{{ subtitle }}</h2>{{/if}}
</header>
{{{ contents }}}
{{>foot}}