---
layout: default.hbs
---
{{#block "body" }}
  <article class="h-entry">
    <header class="blog-post-header">
      <h1 class="p-name">{{ title }}</h1>
      <p>
        <time class="dt-published">{{#moment format="MMM Do, YYYY" }}{{ publishDate }}{{/moment}}</time>
      </p>
    </header>
  </article>
{{/block}}