<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    {{> page-header }}
    {{#markdown}}
# This is my first heading in markdown
    {{/markdown}}
    <p>This is my site.</p>  
  </body>
</html>