@mixin link-reset() {
  color: inherit;
  text-decoration: none;
}

@mixin list-reset() {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

@mixin breakpoint($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}